= form_for @pic do |f|
  - if @pic.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pic.errors.count, "error")} prohibited this pic from being saved:"
      %ul
        - @pic.errors.full_messages.each do |msg|
          %li= msg

  .row
    .column.large-4
      =image_tag @pic.image.url(:thumb)

    .column.large-8
      .field
        = f.label :title
        = f.text_field :title

      .field
        = f.label :description
        = f.text_area :description

  %hr
  .row
    .column.actions
      = f.submit 'Save', :class => 'button'
