%h1 Listing pics

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th
      %th
      
  %tbody
    - @pics.each do |pic|
      %tr
        %td= pic.title
        %td= image_tag pic.image(:thumb)
        %td= link_to 'Show', pic
        %td= link_to 'Edit', edit_pic_path(pic)
        %td= link_to 'Destroy', pic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pic', new_pic_path
