%p#notice= notice

%p
  =image_tag @pic.image.url
  %p
    %b Title: 
    = @pic.title
  %p
    %b Tags:
    
    %ul#tagit-readonly
      - @pic.tag_list.each do |t|
        %li
          = t

= link_to 'Edit', edit_pic_path(@pic)
\|
= link_to 'Back', pics_path
