%p#notice= notice

%p
  =image_tag @pic.image.url
  %p
    %b Title: 
    = @pic.title
  %p
    %b Tags:
    = form_for @pic, remote: true do |f|
      .field
        = f.label :tag_list, "Tags (separated by commas)"
        = f.hidden_field :tag_list, value: @pic.tag_list.to_s, id: 'tags-hidden-field'
        %ul#tagit-field
      = f.submit 'save', id: 'tags-hidden-submit'





= link_to 'Edit', edit_pic_path(@pic)
\|
= link_to 'Back', pics_path
