%p#notice= notice

%p
  =image_tag @pic.image.url
  %p
    %b Title: 
    = @pic.title
  %p
    = form_for @pic, :url => updateTags_path(@pic), remote: true do |f|
      .field
      %b 
        Tags:
        = f.hidden_field :tag_list, value: @pic.tag_list.to_s, id: 'tags-hidden-field'
        = f.label :tag_list, "(separate by comma or return)"
        %ul#tagit-field
      = f.submit 'Save', id: 'tags-hidden-submit', :class => 'button', :style => 'display: none;'


= link_to 'Edit', edit_pic_path(@pic)
\|
= link_to 'Back', pics_path
