%p#notice= notice

.row
  .columns
    =link_to image_tag(@pic.image.url(:preview)), @pic.image.url, :class=> 'colorbox', :title => @pic.image.url(:default, timestamp: false), :target=>'_blank'
.row
  .columns
    %h2
      = @pic.title
    %p
      = form_for @pic, :url => updateTags_path(@pic), remote: true do |f|
        .field
          %b 
            Tags:
            = f.hidden_field :tag_list, value: @pic.tag_list.to_s, id: 'tags-hidden-field'
            = f.label :tag_list, "(separate by comma or return)"
            %ul#tagit-field


  = link_to 'Edit', edit_pic_path(@pic)
  \|
  = link_to 'Back', pics_path
