.container
  = link_to image_tag(@pic.image.url(:preview)), @pic.image.url, :class=> 'colorbox', :title => @pic.image.url(:default, timestamp: false), :target=>'_blank'
  %h2
    = @pic.title
  .pic-details
    Uploaded at 
    %time{:datetime=>@pic.created_at, :title=>distance_of_time_in_words(@pic.created_at, Time.new)+' ago', :class => ['pic-time', @pic.created_at.strftime("%P")]}
      %span{:class => ('hour-'+@pic.created_at.strftime("%H"))}
        %span{:class => ('minute-'+@pic.created_at.strftime("%M"))}
      %span.pic-date
        = @pic.created_at.strftime("%B %d, %Y")
    - if @pic.user
      by
      %span.pic-user
        = @pic.user.email
  %p
    = @pic.description

.beta-title
  .container
    %h3
      Tags: 
      .tags
    = form_for @pic, :url => updateTags_path(@pic), remote: true do |f|
      .field
        = f.hidden_field :tag_list, value: @pic.tag_list.to_s, id: 'tags-hidden-field'
        (separate by comma or return)
        %ul#tagit-field

.beta
  .container.actions
    %h3
      Image Links
      %h4
        Screen Size
      #img-links-prev.content.active
      = text_field_tag 'preview', @pic.image.url(:preview, timestamp: false), :readonly => 'readonly', :class => 'select-all'
      = text_field_tag 'preview_img', '[img]'+@pic.image.url(:preview, timestamp: false)+'[/img]', :readonly => 'readonly', :class => 'select-all'

      %h4
        Full Size
      #img-links-orig.content
        = text_field_tag 'orig', @pic.image.url(:original, timestamp: false), :readonly => 'readonly', :class => 'select-all'
        = text_field_tag 'orig_img', '[img]'+@pic.image.url(:original, timestamp: false)+'[/img]', :readonly => 'readonly', :class => 'select-all'
        

.alpha-title
  .container
    - if can? :update, @pic
      = link_to 'Edit', edit_pic_path(@pic)
      \|
    - if can? :destroy, @pic
      = link_to 'Delete', @pic, :method => :delete, :data => { :confirm => 'Are you sure?' }
      \|
      = link_to 'Back', :back